---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <div>
    <plaintext>

                                        
          .....ZMI.                     
         MMMMMMMMMM.                    
        .MMMMMMMMMM.                    
        .MMMMMMMMMM.      MI   MMM      
        ..MMMMMMMM.      .MMMMMMMM      
           .MMMMM         MMMMMMMM.     
            ..MM.         .MMMMMMM      
                          .MMMMMM       
                      MMMMMMMMMMM       
                   MMMMMMMMMMMMMMM      
                 MMMMMMMMMMMMMMMM$      
                MMMMMMMMMMMMMMMM:       
               MMMMMMMMMMMMMMMM.        
              MMMMMMMMMMMMMMMM          
              MMMMMMMMMMMMMMMM          
             NMMMMMMMMMMMMMMMM          
             MMMMMMMMMMMM  =MM          
            MMMMMMMMMMMM   .MMM         
         =MMMMMMMMMMMMMMM:  .MMM        
      MMMMM:   ,..........    7M        
     MMM                                
     MM:                                
       MO                               

</plaintext>
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
